<div class="card">
  <div class="card-header">
    <h1>Crear Usuario</h1>
  </div>
  <form method="POST" action="/admin/users/create">
      <div class="card-body">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="/admin/users" class="btn btn-danger">Cancelar</a>
    </div>
  </form>
</div>
